@font-face {
  font-family: 'brush script mt';
  src: url('/body/fonts/cursive/brushscript.otf') format('opentype');
}

@font-face {
  font-family: 'Helvetica';
  src: url('/body/fonts/sans/Helvetica.ttf') format('truetype');
}