:root {
  --font-serif: 'Times New Roman', Times, serif;
  --font-sans: Helvetica, Arial, sans-serif;
  --font-accent: 'Brush Script MT', cursive;

  --font-family: Helvetica, Arial, sans-serif;
  --font-size: clamp(9px, 3vw, 2.5rem);

  --edge-margin: 0.0em;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-sans);

  text-transform: uppercase;
}

body {
  margin: var(--edge-margin);
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

main {
  filter: url(#threshold) blur(1px) contrast(150%)
}

*, *::before, *::after {
  box-sizing: border-box;
}

.center-piece {
  position: fixed;
  /*
  background-color: black;
  color: white;
  */
  background-color: white;
  border: 2px solid red;

  font-style: italic;

  top: 50%;
  left: 50%;

  font-size: max(1em, 16px);

  width: min(15em, 100vw);
  height: min(13em, 100vh);

  transform: translate(-50%, -50%);

  z-index: 1;
  padding: 1em;

  border-radius: 5px;
}

.composite {
  display: flex;
  flex-direction: column;

  justify-content: space-around;

  height: 100%;

  font-family: var(--font-sans);
}

.composite > * {
  display: block;
  flex: 1;
}

.composite p {
  text-align: left;
  width: 70%;

  /*
  overflow-wrap: break-word;
  hyphens: auto;
  */
}

.composite p:nth-child(even) {
  text-align: right;
  overflow-wrap: break-word;
  hyphens: auto;
  align-self: flex-end;
}

.composite .field {
  text-wrap: nowrap;
  width: 100%;

  padding-bottom: 0.1em;

  font-family: var(--font-accent);
  flex: 0;
}

.composite .index {
  font-family: var(--font-sans);
  text-align: right;
  align-self: flex-end;
  font-size: 0.5em;

  flex: 0;
} 

.sequences {
  display: grid;
  /*
  */

  width: 100%;
  grid-template-columns: repeat(3, 33.3333%);

  text-align: justify;

  /*
  gap: 0.5ch;
  gap: 0.15em;
  */
}

.sequence {
  position: relative;
  overflow: auto;

  height: 100%;
  max-height: calc(100vh - var(--edge-margin) * 2);
}

.section {
  text-indent: 2ch;
  line-height: 1em;

  overflow-wrap: break-word;
  hyphens: auto;

  --line-height: 1.2em;

  line-height: var(--line-height);
  padding-bottom: var(--line-height);

  /*
  color: white;
  text-shadow: 3px 3px 2px rgb(125, 125, 125);
  */
}

.section li {
  display: inline;
}

.section span {
  text-shadow: 0px 0px 0px white;
  transition: 200ms;
}

.section .active {
  text-shadow: 0px 0px 5px black;
}

.section li:nth-child(odd) {
  font-style: italic;
  font-family: var(--font-serif);
  font-size: 1.1em;
}

.section > li > .emphasized {
  font-family: var(--font-accent);
  font-style: italic;
  font-size: 1.3em;
}